{{#if filteredEquipments.isPending}}
  <div class="categery-standard-equipments-header m--margin-bottom-15">
    <h4 class="m--marginless tech-data-header__title">{{category.name}}</h4>
    <div class="separator"><hr></div>
  </div>
  {{t "application.pending"}}
{{else}}
  {{#if filteredEquipments.content.length}}
    <div class="section-header m--margin-bottom-15">
      <h4 class="m--marginless section-header__title m--padding-right-15">{{category.name}}</h4>
      <div class="section-header__separator"><hr></div>
    </div>
    <ul class="row categery-standard-equipments-list m--margin-bottom-30">
      {{#each filteredEquipments.content as |equipment|}}
        <li class="col-12 col-xl-6 standard-equipments-item">
          <span class="standard-equipments-item__text" data-focus-text={{equipment.name}}>{{equipment.name}}</span>
          <i class="standard-equipments-item__icon la la-info-circle m--margin-left-15 la-2x"></i>
        </li>
      {{/each}}
    </ul>
  {{/if}}
{{/if}}
