<div
  id="m_ver_menu"
  class="m-aside-menu  m-aside-menu--skin-dark"
  data-menu-vertical="true"
  data-menu-scrollable="true"
>
  <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
    <li
      class="m-menu__item  m-menu__item--open {{if homeIsActive activeSideMenuClass}}"
    >
      {{#link-to "lang.index" class="m-menu__link"}}
        <span class="m-menu__item-here"></span>
        <i class="m-menu__link-icon la la-lightbulb-o"></i>
        <span class="m-menu__link-text">
          {{t "application.home"}}
        </span>
      {{/link-to}}
    </li>
    <li
      class="m-menu__item  m-menu__item--submenu {{if referentialIsActive activeSideMenuClass}}"
    >
      {{#link-to "lang.referential" class="m-menu__link"}}
        <span class="m-menu__item-here"></span>
        <i class="m-menu__link-icon la la-automobile"></i>
        <span class="m-menu__link-text">
          {{t "index.referential.title"}}
        </span>
      {{/link-to}}
    </li>
    <li
      class="m-menu__item  m-menu__item--submenu {{if quoteIsActive activeSideMenuClass}}"
    >
      {{#link-to "lang.quote" class="m-menu__link"}}
        <span class="m-menu__item-here"></span>
        <i class="m-menu__link-icon la la-bar-chart"></i>
        <span class="m-menu__link-title">
          <span class="m-menu__link-wrap">
            <span class="m-menu__link-text">
              {{t "index.quote.title"}}
            </span>
          </span>
        </span>
      {{/link-to}}
    </li>
    <li
      class="m-menu__item  m-menu__item--submenu {{if licensePlateIsActive activeSideMenuClass}}"
    >
      {{#link-to "lang.license-plate" class="m-menu__link"}}
        <span class="m-menu__item-here"></span>
        <i class="m-menu__link-icon la la-search"></i>
        <span class="m-menu__link-title">
          <span class="m-menu__link-wrap">
            <span class="m-menu__link-text">
              {{t "index.licensePlate.title"}}
            </span>
          </span>
        </span>
      {{/link-to}}
    </li>
  </ul>
</div>
