<a
  class="m-nav__link m-dropdown__toggle"
  href="#"
>
  <span class="m-nav__link-icon">
    <i class="flaticon-alert-2"></i>
  </span>
</a>
<div class="m-dropdown__wrapper">
  <span class="m-dropdown__arrow m-dropdown__arrow--right"></span>
  <div class="m-dropdown__inner">
    <div class="m-dropdown__header m--align-center" style="background: #7f55dd">
      <span class="m-dropdown__header-title">Referentials</span>
      <span class="m-dropdown__header-subtitle">
        {{#if pendingCountry}}
          Choose the data language
        {{else}}
          Choose a referential country
        {{/if}}
      </span>
    </div>
    <div class="m-dropdown__body">
      <div class="m-dropdown__content referential-selector__content">
        <div class="countries {{if pendingCountry "translate-left"}}">
          <h4 class="m--margin-bottom-15">RSI</h4>
          <ul class="vertical-list">
            {{#each localizedReferentials.RSIReferentials as |country|}}
              <li class="vertical-list__item">
                <button class="media referential-choice" {{action "changeOriginCountry" country preventDefault=true}}>
                  <img src="/assets/flags/{{country.flag}}.png" alt={{country.label}} title={{country.label}} class="align-self-center mr-3 referential-choice__img">
                  <div class="media-body align-self-center">
                    <span>{{country.label}}</span>
                  </div>
                </button>
              </li>
            {{/each}}
          </ul>
          <h4 class="m--margin-top-30 m--margin-bottom-15">Jato</h4>
          <ul class="vertical-list">
            {{#each localizedReferentials.JatoReferentials as |country|}}
              <li class="vertical-list__item">
                <button class="media referential-choice" {{action "changeOriginCountry" country preventDefault=true}}>
                  <img src="/assets/flags/{{country.flag}}.png" alt={{country.label}} title={{country.label}} class="align-self-center mr-3 referential-choice__img">
                  <div class="media-body align-self-center">
                    <span>{{country.label}}</span>
                  </div>
                </button>
              </li>
            {{/each}}
          </ul>
        </div>

        <div class="country-languages {{if pendingCountry "translate-left"}}">
          {{!-- <button class="btn btn-secondary m--margin-bottom-15" {{action "resetPendingCountry"}}><i class="la la-arrow-left m--margin-right-5"></i>Countries</button> --}}
          <h4 class="language-selector__title m--margin-bottom-15">
            <button class="m--margin-right-15" {{action "resetPendingCountry"}}>
              <i class="la la-arrow-circle-o-left"></i>
            </button>
            <span class="language-selector__title__text">Languages</span>
          </h4>
          <ul class="vertical-list">
            {{#each pendingCountry.langs as |lang|}}
              <li class="vertical-list__item">
                <button class="media referential-choice" {{action "chooseLang" pendingCountry lang preventDefault=true}}>
                  <img src="/assets/flags/{{lang.flag}}.png" alt={{lang.label}} title={{lang.label}} class="align-self-center mr-3 referential-choice__img">
                  <div class="media-body align-self-center">
                    <span>{{lang.label}}</span>
                  </div>
                </button>
              </li>
            {{/each}}
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
