<button id={{targetId}}  {{action (action "toggleModal")}} class="m--margin-right-10 equipment-info-button">
  <i class="
    standard-equipments-item__icon
    standard-equipments-item__idle-icon
    la la-circle
    {{if showTrigger "show"}}
  "></i>
  <i class="
    standard-equipments-item__icon
    standard-equipments-item__focus-icon
    la
    la-info-circle
    {{if showTrigger "show"}}
  "></i>
</button>
<span class="standard-equipments-item__text">{{equipment.name}}</span>
{{#if isShowingModal}}
  {{#modal-dialog
      onClose=(action "toggleModal")
      targetAttachment="center"
      translucentOverlay=true
      wrapperClassNames="modal"
  }}
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Equipment details</h5>
      <button {{action (action "toggleModal")}} type="button" class="close m--margin-left-30" data-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <table>
        <tbody>
          <tr>
            <th>ID:</th>
            <td>{{equipment.id}}</td>
          </tr>
          <tr>
            <th>Name:</th>
            <td>{{equipment.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button {{action (action "toggleModal")}} class="btn btn-secondary">Close</button>
    </div>
  </div>
  {{/modal-dialog}}
{{/if}}
