<fieldset class="col-12 col-md-6">
  <div class="section-header m--margin-bottom-15">
    <h4 class="m--marginless section-header__title m--padding-right-15">Vehicle selection</h4>
    <div class="section-header__separator"><hr /></div>
  </div>

  <div class="form-group m-form__group row align-items-center">
    <label class="col-2 col-form-label text-right">Category</label>
    <div class="col-10">
      {{#power-select
        options=categoriesSelection
        selected=selectedCategory
        searchField="name"
        enableTime=false
        onchange=(action (mut selectedCategory))
        as |category|
      }}
        {{category.name}}
      {{/power-select}}
    </div>
  </div>

  <div class="form-group m-form__group row align-items-center">
    <label class="col-2 col-form-label text-right">Make</label>
    <div class="col-10">
      {{#power-select
        options=makesSelection
        selected=selectedMake
        searchField="name"
        enableTime=false
        disabled=(if selectedCategory false true)
        onchange=(action (mut selectedMake))
        as |make|
      }}
        {{make.name}}
      {{/power-select}}
    </div>
  </div>

  <div class="form-group m-form__group row align-items-center">
    <label class="col-2 col-form-label text-right">Date</label>
    <div class="col-10">
      {{date-picker
        buttonClasses="btn btn-primary"
        disabled=(if selectedMake false true)
        minDate=(moment selectedMake.startDate)
        maxDate=(if selectedMake.endDate (moment selectedMake.endDate) (moment))
        availableYearOffset=15
        value=vehicleDate
        action=(action (mut vehicleDate))
      }}
    </div>
  </div>

  <div class="form-group m-form__group row align-items-center">
    <label class="col-2 col-form-label text-right">Model</label>
    <div class="col-10">
      {{#power-select
        options=phasesSelection
        selected=selectedPhase
        searchField="shortNicename"
        enableTime=false
        disabled=(if vehicleDate false true)
        onchange=(action (mut selectedPhase))
        as |phase|
      }}
        {{phase.shortNicename}}
      {{/power-select}}
    </div>
  </div>

  <div class="form-group m-form__group row align-items-center">
    <label class="col-2 col-form-label text-right">Version</label>
    <div class="col-10">
      {{#power-select
        options=versionsSelection
        selected=selectedVersion
        searchField="name"
        enableTime=false
        disabled=(if selectedPhase false true)
        onchange=(action (mut selectedVersion))
        as |version|
      }}
        {{version.name}}
      {{/power-select}}
    </div>
  </div>

</fieldset>
<section class="col-12 col-md-6">
  <div class="section-header m--margin-bottom-15">
    <h4 class="m--marginless section-header__title m--padding-right-15">Vehicle preview</h4>
    <div class="section-header__separator"><hr /></div>
  </div>
  <div class="valorization-card vehicle-preview m--clearfix">
    <div class="vehicle-infos">
      <h5 class="h5"> {{selectedMake.name}} - {{selectedPhase.submodel.name}}</h5>
      <p class="m--margin-bottom-5">Gén. {{selectedPhase.generation.name}} Pe. {{selectedPhase.name}} - {{if vehicleDate (moment-format vehicleDate "DD/MM/YYYY")}} </p>
      <p class="m--marginless">{{selectedVersion.name}}</p>
    </div>
    <div class="vehicle-make-logo">
      {{logo-img url=selectedMake.logoURL className='thumbnail make-logo'}}
    </div>
  </div>
</section>
<div class="btn-container m--margin-top-30 text-right col-12">
  <button class="btn btn-primary" disabled={{if selectedVersion false true}}>Validate</button>
</div>
