<div class="m-portlet">
  <div class="m-portlet__head versions-table__header">
    <div class="m-portlet__head-caption">
      <div class="row align-items-center">
        {{versions-table-sort-control
          classNames="col"
          sortOptions=idSorting
          sortProperty=sortProperty
          sortOrder=sortOrder
        }}
        {{versions-table-sort-control
          classNames="col"
          sortOptions=nameSorting
          sortProperty=sortProperty
          sortOrder=sortOrder
        }}
        {{versions-table-sort-control
          classNames="col"
          sortOptions=dateSorting
          sortProperty=sortProperty
          sortOrder=sortOrder
        }}
        {{versions-table-sort-control
          classNames="col"
          sortOptions=engineSorting
          sortProperty=sortProperty
          sortOrder=sortOrder
        }}
        {{versions-table-sort-control
          classNames="col"
          sortOptions=driveSorting
          sortProperty=sortProperty
          sortOrder=sortOrder
        }}
      </div>
    </div>
  </div>
  <div class="m-portlet__body">
    <ul class="vertical-list">
      {{#each sortedVersions as |version|}}
        <li class="vertical-list__item">
          {{#link-to
            "lang.referential.vehicle"
            version.id
            class="row m--padding-top-20 m--padding-bottom-20 align-items-center"
          }}
            <div class="col">{{version.id}}</div>
            <div class="col">
              {{version.name}}
              <br>
              {{version.trimLevel}}
            </div>
            <div class="col">
              {{version.startDate}}
              <br>
              {{version.endDate}}
            </div>
            <div class="col">
              {{version.energy.name}}
              <br>
              {{#if version.lastEngine.content}}
                {{version.lastEngine.content.marketName}} - {{version.lastEngine.content.standardEmission}}
              {{/if}}
              <br>
              {{if
                version.lastEngine.content
                version.lastEngine.content.dinHorsepower
              }}
              {{t "techData.units.hp"}}
            </div>
            <div class="col">
              {{version.gearbox.name}}
              <br>
              {{#if version.lastTransmission.content.marketingName}}
                {{version.lastTransmission.content.drivenWheels}} -- {{version.lastTransmission.content.marketingName}}
              {{else}}
                {{version.lastTransmission.content.drivenWheels}}
              {{/if}}
            </div>
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
{{yield}}
