<div class="m-portlet">
  <div class="m-portlet__head versions-table__header">
    <div class="m-portlet__head-caption">
      <div class="row align-items-center sort-params">
        {{#each sortOptions as |sortOption|}}
          {{versions-table-sort-control
            classNames="col"
            sortOption=sortOption
            sortBy=sortBy
            sortOrder=sortOrder
          }}
        {{/each}}
      </div>
    </div>
  </div>
  <ul class="vertical-list versions-list">
    {{#each sortedVersions as |version|}}
      <li class="vertical-list__item versions-table__item">
        {{#link-to
          "lang.referential.vehicle"
          version.id
          class="row m--padding-top-20 m--padding-bottom-20 align-items-center versions-table__content"
        }}
          <div class="col version-item__id">{{version.id}}</div>
          <div class="col">
            {{#if version.trimLevel}}
              <span class="font-weight-bold">{{version.trimLevel}}</span>
              <br>
              <span>{{version.name}}</span>
            {{else}}
              <span class="font-weight-bold">{{version.name}}</span>
            {{/if}}
          </div>
          <div class="col">
            {{#if version.lastEngine.content}}
              <span class="font-weight-bold">{{version.lastEngine.content.marketName}} - {{version.lastEngine.content.standardEmission}}</span>
              <br>
              <span>
                {{version.energy.name}}
                -
                {{if
                  version.lastEngine.content
                  version.lastEngine.content.dinHorsepower
                }}
                {{t "techData.units.hp"}}
              </span>
            {{else}}
              <span class="font-weight-bold">{{version.energy.name}}</span>
            {{/if}}

          </div>
          <div class="col">
            {{#if version.gearbox}}
              <span>{{version.gearbox.name}}</span>
              <br>
            {{/if}}
            {{#if version.lastTransmission.content.marketingName}}
              <span>{{version.lastTransmission.content.drivenWheels}} - {{version.lastTransmission.content.marketingName}}</span>
            {{else}}
              <span>{{version.lastTransmission.content.drivenWheels}}</span>
            {{/if}}
          </div>
          <div class="col">
            <span>{{version.startDate}}</span>
            <br>
            <span>{{version.endDate}}</span>
          </div>
          <div class="col">
            {{#if version.lastPeriod.content.priceExcludingVat}}
              <span class="font-weight-bold">{{version.lastPeriod.content.priceIncludingVat}} €</span>
              <br>
            {{/if}}
            {{#if version.lastPeriod.content.priceExcludingVat}}
              <span>{{version.lastPeriod.content.priceExcludingVat}} €</span>
            {{/if}}
          </div>
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>
{{yield}}
