<h6 class="m--margin-bottom-15">{{title}}</h6>
{{#if filterOptions.length}}
  <div class="versions-filters m-radio-list ">
    {{#each filterOptions as |filter |}}
      <label class="m-radio">
        {{radio-button
          id="filter-{{filter.id}}}"
          value=filter.id
          groupValue=filterId
        }}
        <span></span>
        {{filter.name}}
      </label>
    {{/each}}
  </div>
{{else}}
  <p>Choose a {{parentFilterType}} first</p>
{{/if}}
