<div class="m-subheader ">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h1 class="m-subheader__title m-subheader__title--separator">
        {{t "modelTimeline.title"}}
      </h1>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          {{#link-to "lang" class="m-nav__link m-nav__link--icon"}}
            <i class="m-nav__link-icon la la-home"></i>
          {{/link-to}}
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          {{#link-to "lang.referential" class="m-nav__link m-nav__link--icon"}}
            <span class="m-nav__link-text">
              {{t "index.referential.title"}}
            </span>
          {{/link-to}}
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          {{#link-to
            "lang.referential.make"
            model.make.id
            class="m-nav__link m-nav__link--icon"
          }}
            <span class="m-nav__link-text">
              {{model.make.name}}
            </span>
          {{/link-to}}
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="m-content">
  <div class="row align-items-stretch">
    <div class="col-3">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">{{t "modelTimeline.informations"}}</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body informations-portlet">
          <div class="logo-container text-center">
            {{logo-img url=model.make.logoURL className="make-logo"}}
          </div>
          <h4 class="informations-portlet__title">{{model.make.name}}</h4>
          <h5 class="informations-portlet__data">{{model.name}}</h5>
          <p class="informations-portlet__data">{{model.displayDate}}</p>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">Filters</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body informations-portlet">
          Content: Filters
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="m-portlet">
        <div class="m-portlet__head versions-table__header">
          <div class="m-portlet__head-caption">
            <div class="row align-items-center">
              <div class="col">Id</div>
              <div class="col-2">Name</div>
              <div class="col">
                Gen
                <br>
                Ph.
              </div>
              <div class="col">
                StartDate
                <br>
                EndDate
              </div>
              <div class="col">Finitions</div>
              <div class="col">
                Energy
                <br>
                Engine
                <br>
                Power
              </div>
              <div class="col">Gearbox</div>
              <div class="col">Driven wheel</div>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <ul class="vertical-list">
            {{#each model.versions as |version|}}
              <li class="vertical-list__item">
                {{#link-to
                  "lang.referential.vehicle"
                  version.id
                  class="row m--padding-top-20 m--padding-bottom-20 align-items-center"
                }}
                  <div class="col">{{version.id}}</div>
                  <div class="col-2">{{version.name}}</div>
                  <div class="col">
                    Gen. {{version.generation.name}}
                    <br>
                    Ph. {{version.phase.name}}
                  </div>
                  <div class="col">
                    {{version.startDate}}
                    <br>
                    {{version.endDate}}
                  </div>
                  <div class="col">{{version.trimLevel}}</div>
                  <div class="col">
                    {{version.energy.name}}
                    <br>
                    {{if
                      version.lastEngine.content
                      version.lastEngine.content.marketName
                    }}
                    <br>
                    {{if
                      version.lastEngine.content
                      version.lastEngine.content.dinHorsepower
                    }}
                    {{t "techData.units.hp"}}
                  </div>
                  <div class="col">{{version.gearbox.name}}</div>
                  <div class="col">
                    {{if
                      version.lastTransmission.content
                      version.lastTransmission.content.drivenWheels
                    }}
                  </div>
                {{/link-to}}
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
      {{!model-timeline model=model}}
    </div>
  </div>
</div>
