<div class="m-subheader ">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h1 class="m-subheader__title m-subheader__title--separator">
        {{t "modelTimeline.title"}}
      </h1>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          {{#link-to "lang" class="m-nav__link m-nav__link--icon"}}
            <i class="m-nav__link-icon la la-home"></i>
          {{/link-to}}
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          {{#link-to "lang.referential" class="m-nav__link m-nav__link--icon"}}
            <span class="m-nav__link-text">
              {{t "index.referential.title"}}
            </span>
          {{/link-to}}
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          {{#link-to
            "lang.referential.make"
            model.submodel.make.id
            class="m-nav__link m-nav__link--icon"
          }}
            <span class="m-nav__link-text">
              {{model.submodel.make.name}}
            </span>
          {{/link-to}}
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="m-content">
  <div class="row align-items-stretch">
    <div class="col-3">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">{{t "modelTimeline.informations"}}</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body informations-portlet">
          <div class="logo-container text-center">
            {{logo-img url=model.submodel.make.logoURL className="make-logo"}}
          </div>
          <h4 class="informations-portlet__title">{{model.submodel.make.name}}</h4>
          <h5 class="informations-portlet__data">{{model.submodel.name}}</h5>
          <p class="informations-portlet__data">{{model.submodel.displayDate}}</p>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">Filters</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body informations-portlet">
          <div class="row">
            <div class="col-6">
              <h5 class="m--margin-bottom-30">Period Filters</h5>
              <div class="row">
                <div class="col">
                  {{version-period-filter
                    title="Generation"
                    filterOptions=model.submodel.generations
                    recordType="generation"
                    filterId=generationFilterId
                  }}
                </div>
                <div class="col">
                  {{version-period-filter
                    title="Phase"
                    filterOptions=generationFilter.phases
                    recordType="generation"
                    filterId=phaseFilterId
                    parentFilterType="generation"
                    parentFilterId=generationFilterId
                  }}
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      {{versions-table versionsArray=filtereVersion}}
      {{!model-timeline model=model}}
    </div>
  </div>
</div>
