<h2>{{t 'index.showroom.model.submodel.title'}}</h2>
<section class="make-infos">
  <dl class="dl-horizontal">
    <dt>{{t 'models.base.name'}}</dt>
    <dd>{{model.name}}</dd>
    <dt>{{t 'models.base.id'}}</dt>
    <dd>{{model.id}}</dd>
    <dt>{{t 'models.base.startDate'}}</dt>
    <dd>{{format-date model.startDate noDateText=(t 'application.noDate')}}</dd>
    <dt>{{t 'models.base.endDate'}}</dt>
    <dd>{{format-date model.endDate noDateText=(t 'application.noDate')}}</dd>
  </dl>
  <div class="actions">
    {{#link-to "lang.showroom.make.model" classNames="btn blue"}} {{t 'index.showroom.model.submodel.change'}} {{/link-to}}
  </div>
</section>
{{outlet}}