<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h1 class="m-subheader__title m-subheader__title--separator">
        {{t 'index.quote.title'}}
      </h1>
    </div>
  </div>
</div>
<div class="m-content">
  <div class="m-portlet">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{t 'valorization.index.title'}}</h3>
        </div>
      </div>
       <div class="m-portlet__head-tools">
        {{#link-to 'lang.quote.valorize' class="btn btn-primary"}}
          Valorize
        {{/link-to}}
      </div>
    </div>
    <div class="m-portlet__body">
      <ul class="list-unstyled">
        <li class="row m--margin-bottom-15 m--font-bold">
          <div class="col-4 col-lg-3">
            {{t 'valorization.index.labels.offer'}}
          </div>
          <div class="col-4 col-lg-5 col-xl-4">
            {{t 'valorization.index.labels.vehcule'}}
          </div>
          {{#if largeMode}}
            <div class="col-1">
              {{t 'valorization.index.labels.release'}}
            </div>
            <div class="col-1">
              {{t 'valorization.index.labels.date'}}
            </div>
            <div class="col-2">
              {{t 'valorization.index.labels.mileage'}}
            </div>
          {{else}}
            <div class="col-2">
              {{t 'valorization.index.labels.release'}} / {{t 'valorization.index.labels.date'}} / {{t 'valorization.index.labels.mileage'}}
             </div>
          {{/if}}
          <div class="col-2 col-xl-1">
            {{t 'valorization.index.labels.value'}}
          </div>
        </li>
        {{#each model.valorizations as |valorization|}}
          <li class="vertical-list__item">
            {{#link-to "lang.quote.valorization" valorization class="row m--padding-top-15 m--padding-bottom-15 align-items-center list-item-content"}}
              <div class="col-4 col-lg-3">{{valorization-offer-badge offer=valorization.offer}}</div>
              <div class="col-4 col-lg-5 col-xl-4 valorization-card">
                <div class="vehicle-infos">
                  <h5 class="h6"> {{valorization.version.make.name}} - {{valorization.version.submodel.name}}</h5>
                  <p class="m--margin-bottom-5">Gen. {{valorization.version.generation.name}} Pe. {{valorization.version.phase.name}}</p>
                  <p class="m--marginless">{{valorization.version.name}}</p>
                </div>
                <div class="vehicle-make-logo">
                  {{logo-img url=valorization.version.make.logoURL className='thumbnail make-logo'}}
                </div>
              </div>
              {{#if largeMode}}
                <div class="col-1">{{moment-format valorization.releasedAt 'YYYY-MM-DD'}}</div>
                <div class="col-1">{{if valorization.isPrevar (moment-format valorization.returnedAt 'YYYY-MM-DD') (moment-format valorization.calculatedFor 'YYYY-MM-DD')}}</div>
                <div class="col-2">{{valorization.mileage}} {{t 'techData.units.km'}}</div>
              {{else}}
                <div class="col-2">
                  <p class="m--margin-bottom-5">{{moment-format valorization.releasedAt 'YYYY-MM-DD'}}</p>
                  <p class="m--margin-bottom-5">{{if valorization.isPrevar (moment-format valorization.returnedAt 'YYYY-MM-DD') (moment-format valorization.calculatedFor 'YYYY-MM-DD')}}</p>
                  <p class="m--marginless">{{valorization.mileage}} {{t 'techData.units.km'}}</p>
                </div>
              {{/if}}
              <div class="col-2 col-xl-1 m--font-bold">{{valorization.mainValue.content.value}} €</div>
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
