<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h1 class="m-subheader__title m-subheader__title--separator">
        {{t 'index.quote.title'}}
      </h1>
    </div>
  </div>
</div>
<div class="m-content">
  <div class="m-portlet">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">Valorization History {{compactMode}}</h3>
        </div>
      </div>
    </div>
    <div class="m-portlet__body">
      <ul class="list-unstyled">
        <li class="row m--margin-bottom-15">
          <div class="col-4 col-lg-3">
            Offer
          </div>
          <div class="col-4 col-lg-5 col-xl-4">
            Vehicle
          </div>
          {{#if largeMode}}
            <div class="col-1">
              Mec
            </div>
            <div class="col-1">
              Date
            </div>
            <div class="col-2">
              Mileage
            </div>
          {{else}}
            <div class="col-2">
              Mec/Date/Milege
            </div>
          {{/if}}
          <div class="col-2 col-xl-1">
            Value
          </div>
        </li>
        {{#each model.valorizations as |valorization|}}
          <li class="row m--padding-top-15 m--padding-bottom-15 align-items-center" style="border-bottom: 1px solid black">
            <div class="col-4 col-lg-3">{{valorization-offer-badge offer=valorization.offer}}</div>
            <div class="col-4 col-lg-5 col-xl-4 valorization-card">{{!-- {{valorization.version.fullNicename}} --}}
              <div class="vehicle-infos">
                <h5 class="h6"> {{valorization.version.make.name}} - {{valorization.version.submodel.name}}</h5>
                <p class="m--margin-bottom-5">Gen. {{valorization.version.generation.name}} Pe. {{valorization.version.phase.name}}</p>
                <p class="m--marginless">{{valorization.version.name}}</p>
              </div>
              <div class="vehicle-make-logo">
                {{logo-img url=valorization.version.make.logoURL className='thumbnail make-logo'}}
              </div>
            </div>
            {{#if largeMode}}
              <div class="col-1">{{moment-format valorization.releasedAt 'YYYY-MM-DD'}}</div>
              <div class="col-1">{{if isPrevar (moment-format valorization.returnedAt 'YYYY-MM-DD') (moment-format valorization.calculatedFor 'YYYY-MM-DD')}}</div>
              <div class="col-2">{{valorization.mileage}} Km</div>
            {{else}}
              <div class="col-2">
                <p class="m--margin-bottom-5">{{moment-format valorization.releasedAt 'YYYY-MM-DD'}}</p>
                <p class="m--margin-bottom-5">{{if isPrevar (moment-format valorization.returnedAt 'YYYY-MM-DD') (moment-format valorization.calculatedFor 'YYYY-MM-DD')}}</p>
                <p class="m--marginless">{{valorization.mileage}} Km</p>
              </div>
            {{/if}}

            <div class="col-2 col-xl-1 m--font-bold">{{valorization.mainValue.content.value}} €</div>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
  {{!-- <div class="row">
    <div class="col-6">
      <h3 class="m--margin-bottom-30">Valorization</h3>
      <ul class="list-unstyled">
        {{#each model.valorizations as |valorization|}}
          <li class="m--margin-bottom-30 m--padding-15" style="background: white; box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);">
            <h5 >{{valorization.version.fullNicename}}</h5>
            <div class="row m--margin-bottom-15">
              <div class="col-6">Offer: {{valorization.offer}}</div>
              <div class="col-6">Release date: {{moment-format valorization.releasedAt "YYYY-MM-DD"}}</div>
              <div class="col-6">KM: {{valorization.mileage}} km</div>
              <div class="col-6">Computed date: {{if valorziation.calculatedFor (moment-format valorziation.calculatedFor "YYYY-MM-DD") (moment-format valorziation.returnedAt "YYYY-MM-DD")}}</div>
            </div>
            {{#if valorization.features.length}}
              <h6 class="m--margin-bottom-5">Options</h6>
              <ul class="m--margin-bottom-30">
                {{#each valorization.features as |feature|}}
                  <li>
                  {{feature.name}}
                  <span>{{feature.priceIncludingVat}}</span>
                  </li>
                {{/each}}
              </ul>
            {{/if}}
            <h5 class="m--margin-bottom-5">Values</h5>
            <ul class="list-unstyled m--padding-15">
              {{#each valorization.values as |value|}}
                <li class="m--padding-15" style="border: 1px solid black">
                  <div class="row m--padding-5" style="border-bottom: 1px solid black">
                    <dt class="col-6">subtype (Generic)</dt>
                    <dd class="col-6">{{value.subtype}}</dd>
                  </div>
                  <div class="row m--padding-5" style="border-bottom: 1px solid black">
                    <dt class="col-6">label (Generic)</dt>
                    <dd class="col-6">{{value.label}}</dd>
                  </div>
                  <div class="row m--padding-5" style="border-bottom: 1px solid black">
                    <dt class="col-6">value (Generic)</dt>
                    <dd class="col-6">{{value.value}}</dd>
                  </div>
                  <div class="row m--padding-5" style="border-bottom: 1px solid black">
                    <dt class="col-6">mileage (Generic)</dt>
                    <dd class="col-6">{{value.mileage}}</dd>
                  </div>
                  <div class="row m--padding-5" style="border-bottom: 1px solid black">
                    <dt class="col-6">releasedAt (Generic)</dt>
                    <dd class="col-6">{{value.releasedAt}}</dd>
                  </div>
                  <div class="row m--padding-5" style="border-bottom: 1px solid black">
                    <dt class="col-6">calculatedFor (Generic)</dt>
                    <dd class="col-6">{{value.calculatedFor}}</dd>
                  </div>
                  <div class="row m--padding-5" style="border-bottom: 1px solid black">
                    <dt class="col-6">case (Custom Market Value)</dt>
                    <dd class="col-6">{{value.case}}</dd>
                  </div>
                  <div class="row m--padding-5" style="border-bottom: 1px solid black">
                    <dt class="col-6">influence (Custom Market Value)</dt>
                    <dd class="col-6">
                      Body: {{value.influence.body}} <br/>
                      mileage: {{value.influence.mileage}} <br/>
                      options: {{value.influence.options}} <br/>
                      release: {{value.influence.release}}
                    </dd>
                  </div>
                  <div class="row m--padding-5" style="border-bottom: 1px solid black">
                    <dt class="col-6">standardValue (Custom Market Value)</dt>
                    <dd class="col-6">{{value.standardValue}}</dd>
                  </div>
                  <div class="row m--padding-5" style="border-bottom: 1px solid black">
                    <dt class="col-6">prevarDate (Prevar)</dt>
                    <dd class="col-6">{{value.prevarDate}}</dd>
                  </div>
                  <div class="row m--padding-5" style="border-bottom: 1px solid black">
                    <dt class="col-6">returnDate (Prevar)</dt>
                    <dd class="col-6">{{value.returnDate}}</dd>
                  </div>
                  <div class="row m--padding-5" style="border-bottom: 1px solid black">
                    <dt class="col-6">registrationDate (Prevar)</dt>
                    <dd class="col-6">{{value.registrationDate}}</dd>
                  </div>
                  <div class="row m--padding-5" style="border-bottom: 1px solid black">
                    <dt class="col-6">initialPrice (Prevar)</dt>
                    <dd class="col-6">{{value.initialPrice}}</dd>
                  </div>
                  <div class="row m--padding-5" style="border-bottom: 1px solid black">
                    <dt class="col-6">ratio (Prevar)</dt>
                    <dd class="col-6">{{value.ratio}}</dd>
                  </div>
                  <div class="row m--padding-5" style="border-bottom: 1px solid black">
                    <dt class="col-6">confidenceIntervals (Refurbishment)</dt>
                    <dd class="col-6">
                      Max: {{value.confidenceIntervals.max}}<br/>
                      Min: {{value.confidenceIntervals.min}}<br/>
                      Probability: {{value.confidenceIntervals.probability}}
                    </dd>
                  </div>
                  <div class="row m--padding-5" style="border-bottom: 1px solid black">
                    <dt class="col-6">dispersion (Refurbishment)</dt>
                    <dd class="col-6">{{value.dispersion}}</dd>
                  </div>
                  <div class="row m--padding-5" style="border-bottom: 1px solid black">
                    <dt class="col-6">internMessage (Refurbishment)</dt>
                    <dd class="col-6">{{value.internMessage}}</dd>
                  </div>
                  <div class="row m--padding-5" style="border-bottom: 1px solid black">
                    <dt class="col-6">message (Refurbishment)</dt>
                    <dd class="col-6">{{value.message}}</dd>
                  </div>
                  <div class="row m--padding-5" style="border-bottom: 1px solid black">
                    <dt class="col-6">applicationType (Market Values)</dt>
                    <dd class="col-6">{{value.applicationType}}</dd>
                  </div>
                  <div class="row m--padding-5" style="border-bottom: 1px solid black">
                    <dt class="col-6">confidenceIndex (Market Values)</dt>
                    <dd class="col-6">{{value.confidenceIndex}}</dd>
                  </div>
                  <div class="row m--padding-5" style="border-bottom: 1px solid black">
                    <dt class="col-6">info (Market Values)</dt>
                    <dd class="col-6">{{value.info}}</dd>
                  </div>
                  <div class="row m--padding-5" style="border-bottom: 1px solid black">
                    <dt class="col-6">makes (Market Values)</dt>
                    <dd class="col-6">{{value.makes}}</dd>
                  </div>
                  <div class="row m--padding-5" style="border-bottom: 1px solid black">
                    <dt class="col-6">leeway (Display)</dt>
                    <dd class="col-6">
                      value: {{value.leeway.value}}<br/>
                      percentage: {{value.leeway.percentage}}
                    </dd>
                  </div>
                </li>
              {{/each}}
            </ul>
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="col-6">
       <h3 class="m--margin-bottom-30">Batches</h3>
       <ul class="list-unstyled">
        {{#each model.batches as |batch|}}
          {{#if batch.valorizations.length}}
            <li class="m--margin-bottom-30 m--padding-15" style="background: white; box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);">
              <h5 class="m--margin-bottom-15">Lot n°{{batch.id}}</h5>
              <h6 class="m--margin-bottom-5">Valorizations</h6>
              <ul class="list-unstyled">
                {{#each batch.valorizations as |valorization|}}
                  <li class="m--padding-15 m--margin-bottom-30" style="border: 1px solid black">
                    <h5 >{{valorization.version.fullNicename}}</h5>
                    <div class="row m--margin-bottom-15">
                      <div class="col-6">Offer: {{valorization.offer}}</div>
                      <div class="col-6">Release date: {{moment-format valorization.releasedAt "YYYY-MM-DD"}}</div>
                      <div class="col-6">KM: {{valorization.mileage}} km</div>
                      <div class="col-6">Computed date: {{if valorziation.calculatedFor (moment-format valorziation.calculatedFor "YYYY-MM-DD") (moment-format valorziation.returnedAt "YYYY-MM-DD")}}</div>
                    </div>
                    {{#if valorization.features.length}}
                      <h6 class="m--margin-bottom-5">Options</h6>
                      <ul class="m--margin-bottom-30">
                        {{#each valorization.features as |feature|}}
                          <li>
                          {{feature.name}}
                          <span>{{feature.priceIncludingVat}}</span>
                          </li>
                        {{/each}}
                      </ul>
                    {{/if}}
                    <h5 class="m--margin-bottom-5">Values</h5>
                    <ul class="list-unstyled m--padding-15">
                      {{#each valorization.values as |value|}}
                        <li class="m--padding-15" style="border: 1px solid black">
                          <div class="row m--padding-5" style="border-bottom: 1px solid black">
                            <dt class="col-6">subtype (Generic)</dt>
                            <dd class="col-6">{{value.subtype}}</dd>
                          </div>
                          <div class="row m--padding-5" style="border-bottom: 1px solid black">
                            <dt class="col-6">label (Generic)</dt>
                            <dd class="col-6">{{value.label}}</dd>
                          </div>
                          <div class="row m--padding-5" style="border-bottom: 1px solid black">
                            <dt class="col-6">value (Generic)</dt>
                            <dd class="col-6">{{value.value}}</dd>
                          </div>
                          <div class="row m--padding-5" style="border-bottom: 1px solid black">
                            <dt class="col-6">mileage (Generic)</dt>
                            <dd class="col-6">{{value.mileage}}</dd>
                          </div>
                          <div class="row m--padding-5" style="border-bottom: 1px solid black">
                            <dt class="col-6">releasedAt (Generic)</dt>
                            <dd class="col-6">{{value.releasedAt}}</dd>
                          </div>
                          <div class="row m--padding-5" style="border-bottom: 1px solid black">
                            <dt class="col-6">calculatedFor (Generic)</dt>
                            <dd class="col-6">{{value.calculatedFor}}</dd>
                          </div>
                          <div class="row m--padding-5" style="border-bottom: 1px solid black">
                            <dt class="col-6">case (Custom Market Value)</dt>
                            <dd class="col-6">{{value.case}}</dd>
                          </div>
                          <div class="row m--padding-5" style="border-bottom: 1px solid black">
                            <dt class="col-6">influence (Custom Market Value)</dt>
                            <dd class="col-6">
                              Body: {{value.influence.body}} <br/>
                              mileage: {{value.influence.mileage}} <br/>
                              options: {{value.influence.options}} <br/>
                              release: {{value.influence.release}}
                            </dd>
                          </div>
                          <div class="row m--padding-5" style="border-bottom: 1px solid black">
                            <dt class="col-6">standardValue (Custom Market Value)</dt>
                            <dd class="col-6">{{value.standardValue}}</dd>
                          </div>
                          <div class="row m--padding-5" style="border-bottom: 1px solid black">
                            <dt class="col-6">prevarDate (Prevar)</dt>
                            <dd class="col-6">{{value.prevarDate}}</dd>
                          </div>
                          <div class="row m--padding-5" style="border-bottom: 1px solid black">
                            <dt class="col-6">returnDate (Prevar)</dt>
                            <dd class="col-6">{{value.returnDate}}</dd>
                          </div>
                          <div class="row m--padding-5" style="border-bottom: 1px solid black">
                            <dt class="col-6">registrationDate (Prevar)</dt>
                            <dd class="col-6">{{value.registrationDate}}</dd>
                          </div>
                          <div class="row m--padding-5" style="border-bottom: 1px solid black">
                            <dt class="col-6">initialPrice (Prevar)</dt>
                            <dd class="col-6">{{value.initialPrice}}</dd>
                          </div>
                          <div class="row m--padding-5" style="border-bottom: 1px solid black">
                            <dt class="col-6">ratio (Prevar)</dt>
                            <dd class="col-6">{{value.ratio}}</dd>
                          </div>
                          <div class="row m--padding-5" style="border-bottom: 1px solid black">
                            <dt class="col-6">confidenceIntervals (Refurbishment)</dt>
                            <dd class="col-6">
                              Max: {{value.confidenceIntervals.max}}<br/>
                              Min: {{value.confidenceIntervals.min}}<br/>
                              Probability: {{value.confidenceIntervals.probability}}
                            </dd>
                          </div>
                          <div class="row m--padding-5" style="border-bottom: 1px solid black">
                            <dt class="col-6">dispersion (Refurbishment)</dt>
                            <dd class="col-6">{{value.dispersion}}</dd>
                          </div>
                          <div class="row m--padding-5" style="border-bottom: 1px solid black">
                            <dt class="col-6">internMessage (Refurbishment)</dt>
                            <dd class="col-6">{{value.internMessage}}</dd>
                          </div>
                          <div class="row m--padding-5" style="border-bottom: 1px solid black">
                            <dt class="col-6">message (Refurbishment)</dt>
                            <dd class="col-6">{{value.message}}</dd>
                          </div>
                          <div class="row m--padding-5" style="border-bottom: 1px solid black">
                            <dt class="col-6">applicationType (Market Values)</dt>
                            <dd class="col-6">{{value.applicationType}}</dd>
                          </div>
                          <div class="row m--padding-5" style="border-bottom: 1px solid black">
                            <dt class="col-6">confidenceIndex (Market Values)</dt>
                            <dd class="col-6">{{value.confidenceIndex}}</dd>
                          </div>
                          <div class="row m--padding-5" style="border-bottom: 1px solid black">
                            <dt class="col-6">info (Market Values)</dt>
                            <dd class="col-6">{{value.info}}</dd>
                          </div>
                          <div class="row m--padding-5" style="border-bottom: 1px solid black">
                            <dt class="col-6">makes (Market Values)</dt>
                            <dd class="col-6">{{value.makes}}</dd>
                          </div>
                          <div class="row m--padding-5" style="border-bottom: 1px solid black">
                            <dt class="col-6">leeway (Display)</dt>
                            <dd class="col-6">
                              value: {{value.leeway.value}}<br/>
                              percentage: {{value.leeway.percentage}}
                            </dd>
                          </div>
                        </li>
                      {{/each}}
                    </ul>
                  </li>
                {{/each}}
              </ul>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div> --}}
</div>
