
<div class="m-content">
  <div class="row">
    <div class="col-12 col-xl-4">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">Valorization</h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">
            {{valorization-offer-badge offer=model.offer}}
          </div>
        </div>
        <div class="m-portlet__body valorization-criteria">
          <div class="section-header m--margin-bottom-15">
            <h4 class="m--marginless section-header__title m--padding-right-15">Vehicle identification</h4>
            <div class="section-header__separator"><hr /></div>
          </div>
          <div class="valorization-card m--clearfix">
            <div class="vehicle-infos">
              <h5 class="h6"> {{model.version.make.name}} - {{model.version.submodel.name}}</h5>
              <p class="m--margin-bottom-5">Gen. {{model.version.generation.name}} Pe. {{model.version.phase.name}} - {{moment-format model.releasedAt 'DD/MM/YYYY'}}</p>
              <p class="m--marginless">{{model.version.name}}</p>
            </div>
            <div class="vehicle-make-logo">
              {{logo-img url=model.version.make.logoURL className='thumbnail make-logo'}}
            </div>
          </div>
          <div class="section-header m--margin-bottom-15 m--margin-top-30">
            <h4 class="m--marginless section-header__title m--padding-right-15">Vehicle usage</h4>
            <div class="section-header__separator"><hr /></div>
          </div>
          <div class="row">
            {{#if model.mileage}}
              <dt class="col-3 text-right">{{t "valorization.wizzard.criteria.usage.mileage"}}</dt>
              <dd class="col-3">{{model.mileage}} {{t 'techData.units.km'}}</dd>
            {{/if}}
            {{#if model.returnedAt}}
              <dt class="col-3 text-right">{{t "valorization.wizzard.criteria.usage.date"}}</dt>
              <dd class="col-3">{{moment-format model.returnedAt 'YYYY-MM-DD'}}</dd>
            {{/if}}
            {{#if model.calculatedFor}}
              <dt class="col-3 text-right">{{t "valorization.wizzard.criteria.usage.date"}}</dt>
              <dd class="col-3">{{moment-format model.calculatedFor 'YYYY-MM-DD'}}</dd>
            {{/if}}
          </div>
          {{#if model.features.length}}
            <div class="section-header m--margin-bottom-15 m--margin-top-30">
              <h4 class="m--marginless section-header__title m--padding-right-15">Vehicle options</h4>
              <div class="section-header__separator"><hr /></div>
            </div>
            <ul>
              {{#each model.features as |feature|}}
                <li class="clearfix m--margin-bottom-5 ">
                  <div class="selected-feature">
                    <span class="selected-feature__name">{{feature.name}}</span>
                  </div>
                </li>
              {{/each}}
            </ul>
          {{/if}}
          {{#if model.isExtended}}
            {{#if model.showSummaryGaragePart}}
              <div class="section-header m--margin-bottom-15 m--margin-top-30">
                <h4 class="m--marginless section-header__title m--padding-right-15">Your garage</h4>
                <div class="section-header__separator"><hr /></div>
              </div>
              <div class="row">
                {{#if model.makes.length}}
                  <dt class="col-3 text-right">{{t "valorization.wizzard.criteria.garage.makes"}}</dt>
                  <dd class="col-3">
                    <ul>
                      {{#each model.makes as |make|}}
                        <li>
                          {{make.name}}
                        </li>
                      {{/each}}
                    </ul>
                  </dd>
                {{/if}}
                {{#if model.geolocalisation}}
                  <dt class="col-3 text-right">{{t "valorization.wizzard.criteria.garage.zipcode"}}</dt>
                  <dd class="col-3">{{model.geolocalisation}}</dd>
                {{/if}}
              </div>
            {{/if}}
          {{/if}}
          <hr>
          <div class="btn-container text-right">
            {{#link-to 'lang.referential.vehicle' model.version.id class="btn btn-primary"}}
              Specs
            {{/link-to}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 col-12 vehicle-data">
      <div class="m-portlet">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">Values</h3>
              </div>
            </div>
          </div>
          <div class="m-portlet__body">
            {{#if model.isComputing}}
              <p class="m--align-center m--font-bold h3 m--margin-top-30 ">Computing values</p>
              <div class="m-loader m-loader--brand m-loader--lg m--margin-top-30 m--margin-bottom-30"></div>
            {{else}}

              <div class="row">
                <div class="col-12 col-md-6">
                  <section>
                    <div class="section-header m--margin-bottom-15 m--margin-top-0">
                      <h4 class="m--marginless section-header__title m--padding-right-15">Initial values</h4>
                      <div class="section-header__separator"><hr /></div>
                    </div>
                    <p class="main-value-display text-right">{{model.initialPricesValue.content.value}} €</p>
                  </section>
                  <section>
                    <div class="section-header m--margin-bottom-15 m--margin-top-30">
                      <h4 class="m--marginless section-header__title m--padding-right-15">Custom market value</h4>
                      <div class="section-header__separator"><hr /></div>
                    </div>
                    <div class="custom-market-value-details">
                      <div class="custom-market-value-detail">
                        <span class="custom-market-value-detail__label">Argus average price:</span>
                        <span class="custom-market-value-detail__value">{{model.customMarketValues.content.standardValue}} €</span>
                      </div>
                      <div class="custom-market-value-detail">
                        <span class="custom-market-value-detail__label">Influence of body:</span>
                        <span class="custom-market-value-detail__value">{{model.customMarketValues.content.influence.body}} €</span>
                      </div>
                      <div class="custom-market-value-detail">
                        <span class="custom-market-value-detail__label">Influence of release date:</span>
                        <span class="custom-market-value-detail__value">{{model.customMarketValues.content.influence.release}} €</span>
                      </div>
                      <div class="custom-market-value-detail">
                        <span class="custom-market-value-detail__label">Influence of options:</span>
                        <span class="custom-market-value-detail__value">{{model.customMarketValues.content.influence.options}} €</span>
                      </div>
                      <div class="custom-market-value-detail">
                        <span class="custom-market-value-detail__label">Influence of mileage:</span>
                        <span class="custom-market-value-detail__value">{{model.customMarketValues.content.influence.mileage}} €</span>
                      </div>
                    </div>
                    <hr />
                    <p class="main-value-display text-right">{{model.customMarketValues.content.value}} €</p>
                  </section>
                  <section>
                    <div class="section-header m--margin-bottom-15 m--margin-top-30">
                      <h4 class="m--marginless section-header__title m--padding-right-15">refurbishment</h4>
                      <div class="section-header__separator"><hr /></div>
                    </div>
                    <p class="main-value-display text-right">{{model.refurbishmentCosts.content.value}} €</p>
                    <p class="secondary-value-display text-right">+/- {{model.refurbishmentCosts.content.dispersion}} €</p>
                  </section>
                </div>
                <div class="col-12 col-md-6">
                  <section>
                    <div class="section-header m--margin-bottom-15 {{if (media 'isMobile') 'm--margin-top-30' 'm--margin-top-0'}} ">
                      <h4 class="m--marginless section-header__title m--padding-right-15">Displayed value {{if (media 'isMobile') 'true' 'false'}}</h4>
                      <div class="section-header__separator"><hr /></div>
                    </div>
                    <p class="main-value-display text-right">{{model.displayedValue.content.value}} €</p>
                    <p class="secondary-value-display text-right">+ {{model.displayedValue.content.leeway.value}} €</p>
                    <p class="tiers-value-display text-right">+ {{percentage-display model.displayedValue.content.leeway.percentage}}</p>
                    <div class="confidence-index text-right">
                      {{star-rating
                        numStars=5
                        rating=model.displayedValue.content.confidenceStars
                        readOnly=true
                        baseColor="#D8D8D8"
                        fillColor="#B91000"
                        width=12
                        height=12
                      }}
                    </div>
                  </section>
                  <section>
                    <div class="section-header m--margin-bottom-15 m--margin-top-30">
                      <h4 class="m--marginless section-header__title m--padding-right-15">Customers</h4>
                      <div class="section-header__separator"><hr /></div>
                    </div>
                    <p class="main-value-display text-right">{{model.btocValue.content.value}} €</p>
                    <div class="confidence-index text-right">
                      {{star-rating
                        numStars=5
                        rating=model.btocValue.content.confidenceStars
                        readOnly=true
                        baseColor="#D8D8D8"
                        fillColor="#B91000"
                        width=12
                        height=12
                      }}
                    </div>
                  </section>
                  <section>
                    <div class="section-header m--margin-bottom-15 m--margin-top-30">
                      <h4 class="m--marginless section-header__title m--padding-right-15">Profesionnals</h4>
                      <div class="section-header__separator"><hr /></div>
                    </div>
                    <p class="main-value-display text-right">{{model.btobValue.content.value}} €</p>
                    <div class="confidence-index text-right">
                      {{star-rating
                        numStars=5
                        rating=model.btobValue.content.confidenceStars
                        readOnly=true
                        baseColor="#D8D8D8"
                        fillColor="#B91000"
                        width=12
                        height=12
                      }}
                    </div>
                  </section>
                </div>
              </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
