<div class="m-subheader ">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h1 class="m-subheader__title m-subheader__title--separator">
        {{t 'application.home'}}
      </h1>
    </div>
  </div>
</div>
<div class="m-content">
  <div class="row">
    <div class="col-md-6">
      <div class="m-portlet card text-center">
        <div class="card-icon text-danger">
          <i class="la la-car"></i>
        </div>
        <div class="card-body">
        <h3 class="card-title">{{t 'index.search.title'}}</h3>
          {{t 'index.search.description'}}
          <hr>
          {{#link-to 'lang.referential.makes' class="btn btn-primary"}}
              {{t 'application.moreInfo'}}
               <i class="la la-angle-right"></i>
          {{/link-to}}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="m-portlet card text-center">
        <div class="card-icon text-success">
          <i class="la la-bar-chart"></i>
        </div>
        <div class="card-body">
        <h3 class="card-title">{{t 'index.quote.title'}}</h3>
          {{t 'index.quote.description'}}
          <hr>
          {{#link-to 'lang.quote' class="btn btn-primary"}}
            {{t 'application.moreInfo'}}
             <i class="la la-angle-right"></i>
          {{/link-to}}
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-12 col-lg-12 col-xl-4">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">{{t 'index.dashboard.topMakes'}}</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <ul class="vertical-list">
            {{#each model.topMakes as |make|}}
              <li class="vertical-list__item">
                {{#link-to "lang.referential.make" make.id class="list-item-content"}}
                  <section class="infos">
                    <h5>{{make.name}}</h5>
                    <p class="small">{{make.displayDate}}</p>
                  </section>
                  <div class="logo-img">
                    {{logo-img url=make.logoURL className='thumbnail make-logo'}}
                  </div>
                {{/link-to}}
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 col-xl-4">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">{{t 'index.dashboard.topVehicles'}}</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <ul class="vertical-list">
            {{#each model.topVehicles as |vehicle|}}
              <li class="vertical-list__item">
                {{#link-to "lang.referential.vehicle" vehicle.id class="list-item-content"}}
                  <section class="infos">
                    <h5>{{vehicle.submodel.fullNicename}}</h5>
                    <p class="small">{{vehicle.name}}</p>
                  </section>
                  <div class="logo-img">
                    {{logo-img url=vehicle.make.logoURL className='thumbnail make-logo'}}
                  </div>
                {{/link-to}}
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 col-xl-4">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">{{t 'index.dashboard.latestVehicles'}}</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <ul class="vertical-list">
            {{#each model.latestVehicles as |vehicle|}}
              <li class="vertical-list__item">
                {{#link-to "lang.referential.vehicle" vehicle.id class="list-item-content"}}
                  <section class="infos">
                    <h5>{{vehicle.submodel.fullNicename}}</h5>
                    <p class="small">{{vehicle.name}}</p>
                  </section>
                  <div class="logo-img">
                    {{logo-img url=vehicle.make.logoURL className='thumbnail make-logo'}}
                  </div>
                {{/link-to}}
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
