
<div class="m-content">
  <div class="row">
    <div class="col-12 col-xl-4">
      {{valorization-informations valorization=model}}
    </div>
    <div class="col-xl-8 col-12 vehicle-data">
      <div class="m-portlet">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">Values</h3>
              </div>
            </div>
          </div>
          <div class="m-portlet__body">
            {{#if model.isComputing}}
              <div class="m--align-center m--font-bold h3 m--margin-top-15 m--margin-bottom-60">
                <p class="m--margin-bottom-30">Computing values</p>
                <div class="m-loader m-loader--brand m-loader--lg"></div>
              </div>
            {{else}}

              <div class="row">
                <div class="col-12 col-md-6">
                  <section>
                    <div class="section-header m--margin-bottom-15 {{if (media 'isMobile') 'm--margin-top-30' 'm--margin-top-0'}} ">
                      <h4 class="m--marginless section-header__title m--padding-right-15">Exchange value</h4>
                      <div class="section-header__separator"><hr /></div>
                    </div>
                    <p class="main-value-display text-right">{{model.exchangeValues.content.value}} €</p>
                    <p class="secondary-value-display text-right">{{model.exchangeValues.content.info}} €</p>
                    <div class="confidence-index text-right">
                      {{star-rating
                        numStars=5
                        rating=model.exchangeValues.content.confidenceStars
                        readOnly=true
                        baseColor="#D8D8D8"
                        fillColor="#B91000"
                        width=12
                        height=12
                      }}
                    </div>
                  </section>
                </div>
                <div class="col-12 col-md-6">
                </div>
              </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
