
<div class="m-content">
  <div class="row">
    <div class="col-12 col-xl-4">
      {{valorization-informations valorization=model}}
    </div>
    <div class="col-xl-8 col-12 vehicle-data">
      <div class="m-portlet">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">Values</h3>
              </div>
            </div>
          </div>
          <div class="m-portlet__body">
            {{#if model.isComputing}}
              <div class="m--align-center m--font-bold h3 m--margin-top-15 m--margin-bottom-60">
                <p class="m--margin-bottom-30">Computing values</p>
                <div class="m-loader m-loader--brand m-loader--lg"></div>
              </div>
            {{else}}

              <div class="row">
                <div class="col-12 col-md-6">
                  <section>
                    <div class="section-header m--margin-bottom-15 m--margin-top-0">
                      <h4 class="m--marginless section-header__title m--padding-right-15">Initial values</h4>
                      <div class="section-header__separator"><hr /></div>
                    </div>
                    <p class="main-value-display text-right">{{model.initialPricesValue.content.value}} €</p>
                  </section>
                  <section>
                    <div class="section-header m--margin-bottom-15 m--margin-top-30">
                      <h4 class="m--marginless section-header__title m--padding-right-15">Custom market value</h4>
                      <div class="section-header__separator"><hr /></div>
                    </div>
                    <div class="custom-market-value-details">
                      <div class="custom-market-value-detail">
                        <span class="custom-market-value-detail__label">Argus average price:</span>
                        <span class="custom-market-value-detail__value">{{model.customMarketValues.content.standardValue}} €</span>
                      </div>
                      <div class="custom-market-value-detail">
                        <span class="custom-market-value-detail__label">Influence of body:</span>
                        <span class="custom-market-value-detail__value">{{model.customMarketValues.content.influence.body}} €</span>
                      </div>
                      <div class="custom-market-value-detail">
                        <span class="custom-market-value-detail__label">Influence of release date:</span>
                        <span class="custom-market-value-detail__value">{{model.customMarketValues.content.influence.release}} €</span>
                      </div>
                      <div class="custom-market-value-detail">
                        <span class="custom-market-value-detail__label">Influence of options:</span>
                        <span class="custom-market-value-detail__value">{{model.customMarketValues.content.influence.options}} €</span>
                      </div>
                      <div class="custom-market-value-detail">
                        <span class="custom-market-value-detail__label">Influence of mileage:</span>
                        <span class="custom-market-value-detail__value">{{model.customMarketValues.content.influence.mileage}} €</span>
                      </div>
                    </div>
                    <hr />
                    <p class="main-value-display text-right">{{model.customMarketValues.content.value}} €</p>
                  </section>
                  <section>
                    <div class="section-header m--margin-bottom-15 m--margin-top-30">
                      <h4 class="m--marginless section-header__title m--padding-right-15">refurbishment</h4>
                      <div class="section-header__separator"><hr /></div>
                    </div>
                    <p class="main-value-display text-right">{{model.refurbishmentCosts.content.value}} €</p>
                    <p class="secondary-value-display text-right">+/- {{model.refurbishmentCosts.content.dispersion}} €</p>
                  </section>
                </div>
                <div class="col-12 col-md-6">
                  <section>
                    <div class="section-header m--margin-bottom-15 {{if (media 'isMobile') 'm--margin-top-30' 'm--margin-top-0'}} ">
                      <h4 class="m--marginless section-header__title m--padding-right-15">Displayed value</h4>
                      <div class="section-header__separator"><hr /></div>
                    </div>
                    <p class="main-value-display text-right">{{model.displayedValue.content.value}} €</p>
                    <p class="secondary-value-display text-right">+ {{model.displayedValue.content.leeway.value}} €</p>
                    <p class="tiers-value-display text-right">+ {{percentage-display model.displayedValue.content.leeway.percentage}}</p>
                    <div class="confidence-index text-right">
                      {{star-rating
                        numStars=5
                        rating=model.displayedValue.content.confidenceStars
                        readOnly=true
                        baseColor="#D8D8D8"
                        fillColor="#B91000"
                        width=12
                        height=12
                      }}
                    </div>
                  </section>
                  <section>
                    <div class="section-header m--margin-bottom-15 m--margin-top-30">
                      <h4 class="m--marginless section-header__title m--padding-right-15">Customers</h4>
                      <div class="section-header__separator"><hr /></div>
                    </div>
                    <p class="main-value-display text-right">{{model.btocValue.content.value}} €</p>
                    <div class="confidence-index text-right">
                      {{star-rating
                        numStars=5
                        rating=model.btocValue.content.confidenceStars
                        readOnly=true
                        baseColor="#D8D8D8"
                        fillColor="#B91000"
                        width=12
                        height=12
                      }}
                    </div>
                  </section>
                  <section>
                    <div class="section-header m--margin-bottom-15 m--margin-top-30">
                      <h4 class="m--marginless section-header__title m--padding-right-15">Profesionnals</h4>
                      <div class="section-header__separator"><hr /></div>
                    </div>
                    <p class="main-value-display text-right">{{model.btobValue.content.value}} €</p>
                    <div class="confidence-index text-right">
                      {{star-rating
                        numStars=5
                        rating=model.btobValue.content.confidenceStars
                        readOnly=true
                        baseColor="#D8D8D8"
                        fillColor="#B91000"
                        width=12
                        height=12
                      }}
                    </div>
                  </section>
                </div>
              </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
