<div class="m-subheader ">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h1 class="m-subheader__title m-subheader__title--separator">
        {{t "index.referential.title"}} - {{t "makeList.title"}}
      </h1>
    </div>
  </div>
</div>
<div class="m-content">
  <div class="row">
    <div class="col-12 col-lg-4">
      {{#sticky-element top=110 enabled=(if (media "isMobile") false true)}}
        <div class="m-portlet makes-filters-portlet">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">Filters</h3>
              </div>
            </div>
          </div>
          <div class="m-portlet__body">
            <div class="form-group m-form__group align-items-center">
              <label class="col-form-label">Search by name</label>
              {{input
                value=searchTerm
                name="Search by name"
                class="form-control m-input"
              }}
            </div>
            <div class="m-checkbox-list">
              {{#each model.categories as |category|}}
                <label class="m-checkbox" for={{category.categoryInputId}}>
                  {{input
                    id=category.categoryInputId
                    type="checkbox"
                    checked=category.showCategory
                    name=category.name
                  }}
                  {{category.name}}
                  <span></span>
                </label>
              {{/each}}
            </div>
          </div>
        </div>
      {{/sticky-element}}
    </div>
    <div class="col-12 col-lg-8">
      <ul id="make-list" class="grid-list make-list">
        {{#each filteredMakes as |make|}}
          <li class="showroom-make-item grid-list__item clickable">
            {{#link-to "data-set.referential.make" make.id class="list-item-content"}}
              <section class="infos">
                <h5 data-role="name">{{make.name}}</h5>
                <p class="list-datetime">{{make.displayDate}}</p>
              </section>
              <div class="logo-img">
                {{logo-img data-src=make.logoURL}}
              </div>
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
