<div class="m-subheader ">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h1 class="m-subheader__title m-subheader__title--separator">
        {{t "modelTimeline.title"}}
      </h1>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          {{#link-to "data-set" class="m-nav__link m-nav__link--icon"}}
            <i class="m-nav__link-icon la la-home"></i>
          {{/link-to}}
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          {{#link-to "data-set.referential" class="m-nav__link m-nav__link--icon"}}
            <span class="m-nav__link-text">
              {{t "index.referential.title"}}
            </span>
          {{/link-to}}
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          {{#link-to
            "data-set.referential.make"
            model.make.id
            class="m-nav__link m-nav__link--icon"
          }}
            <span class="m-nav__link-text">
              {{model.make.name}}
            </span>
          {{/link-to}}
        </li>
        <li class="m-nav__separator">
          -
        </li>
        <li class="m-nav__item">
          {{#link-to
            "data-set.referential.model"
            model.id
            class="m-nav__link m-nav__link--icon"
          }}
            <span class="m-nav__link-text">
              {{model.name}}
            </span>
          {{/link-to}}
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="m-content">
  <div class="row align-items-stretch">
    <div class="col-12 col-md-4">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">{{t "modelTimeline.informations"}}</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body informations-portlet">
          <div class="logo-container text-center">
            {{logo-img data-src=model.make.logoURL className="make-logo"}}
          </div>
          <h4 class="informations-portlet__title">{{model.make.name}}</h4>
          <h5 class="informations-portlet__data">{{model.name}}</h5>
          <p class="informations-portlet__data">{{model.displayDate}}</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">{{t "modelTimeline.generations"}}</h3>
            </div>
          </div>
          <div class="m-portlet__head-tools">
            <span>{{t "application.date"}}</span>
          </div>
        </div>
        <div class="m-portlet__body informations-portlet">
          <ul class="vertical-list">
            {{#each sortedGenerations as |generation|}}
              <li class="vertical-list__item">
                {{#link-to
                  "data-set.referential.model.generation"
                  generation.id
                  class="list-item-content"
                }}
                  <section class="infos">
                    {{t "modelTimeline.generation"}} {{generation.name}}

                  </section>
                  <span class="digit-date">
                    {{generation.displayDateDigit}}
                  </span>
                {{/link-to}}
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      {{outlet "phases"}}
    </div>
  </div>
  {{outlet "versions"}}
  {{#if loadingVersions}}
    <div class="m--margin-top-30 m--padding-top-30">
      <div class="m-loader m-loader--brand m-loader--lg m--margin-bottom-30"></div>
      <h4 class="m--align-center">{{t "versionsTable.loading"}}</h4>
    </div>
  {{/if}}
</div>
