<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h1 class="m-subheader__title m-subheader__title--separator">
        {{t "index.quote.title"}}
      </h1>
    </div>
  </div>
</div>
<div class="m-content">
  <div class="m-portlet">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{t "valorization.index.title"}}</h3>
        </div>
      </div>
      <div class="m-portlet__head-tools">
        {{#link-to "data-set.quote.valorize" class="btn btn-primary"}}
          {{t "valorization.index.valorize"}}
        {{/link-to}}
      </div>
    </div>
    <div class="m-portlet__body">
      <ul class="list-unstyled">
        <li class="row m--margin-bottom-15 m--font-bold">
          <div class="col-4 col-lg-3">
            {{t "valorization.index.labels.offer"}}
          </div>
          <div class="col-4 col-lg-5 col-xl-4">
            {{t "valorization.index.labels.vehicle"}}
          </div>
          {{#if largeMode}}
            <div class="col-1">
              {{t "valorization.index.labels.release"}}
            </div>
            <div class="col-1">
              {{t "valorization.index.labels.date"}}
            </div>
            <div class="col-2">
              {{t "valorization.index.labels.mileage"}}
            </div>
          {{else}}
            <div class="col-2">
              {{t "valorization.index.labels.release"}} / {{t "valorization.index.labels.date"}} / {{t "valorization.index.labels.mileage"}}
            </div>
          {{/if}}
          <div class="col-2 col-xl-1">
            {{t "valorization.index.labels.value"}}
          </div>
        </li>
        {{#each model as |valorization|}}
          {{#if valorization.isDisplayed}}
            {{valorization-item valorization=valorization largeMode=largeMode}}
          {{/if}}
        {{/each}}
        {{infinity-loader
          infinityModel=model
          loadingText=""
          loadedText=""
        }}
      </ul>
    </div>
  </div>
</div>
