<div class="m-subheader ">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h1 class="m-subheader__title m-subheader__title--separator">
        {{t 'index.quote.title'}}
      </h1>
    </div>
  </div>
</div>
<div class="m-content">
  <div class="m-wizard m-wizard--2 m-wizard--success">
    <!--begin: Message container -->
    <div class="m-portlet__padding-x">
      <!-- Here you can put a message or alert -->
    </div>
    <!--end: Message container -->
    <!--begin: Form Wizard Head -->
    <div class="m-wizard__head">
      <!--begin: Form Wizard Progress -->
      <div class="m-wizard__progress">
        <div class="progress">
          <div class="progress-bar" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
        </div>
      </div>
      <!--end: Form Wizard Progress -->
      <!--begin: Form Wizard Nav -->
      <div class="m-wizard__nav">
        <div class="m-wizard__steps">
          <div class="m-wizard__step m-wizard__step--done">
            {{#link-to 'lang.quote.valorize.vehicle-identification' class="m-wizard__step-number"}}
              <span>
                <i class="la la-automobile"></i>
              </span>
            {{/link-to}}
            <div class="m-wizard__step-info">
              <div class="m-wizard__step-title">
                1. Identify your vehicle
              </div>
            </div>
          </div>
          <div class="m-wizard__step m-wizard__step--done">
           {{#link-to 'lang.quote.valorize.offer' class="m-wizard__step-number"}}
              <span>
                <i class="la la-bar-chart"></i>
              </span>
            {{/link-to}}
            <div class="m-wizard__step-info">
              <div class="m-wizard__step-title">
                2. Select value to compute
              </div>
            </div>
          </div>
          <div class="m-wizard__step m-wizard__step--current">
            {{#link-to 'lang.quote.valorize.criteria' class="m-wizard__step-number"}}
              <span>
                <i class="fa flaticon-layers"></i>
              </span>
            {{/link-to}}
            <div class="m-wizard__step-info">
              <div class="m-wizard__step-title">
                3. Define your criteria
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end: Form Wizard Nav -->
    </div>
    <!--end: Form Wizard Head -->
  </div>
  <div class="row">
    <div class="col-8">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">Vehicle usage</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="row">
            <div class="col-6">
              <div class="form-group m-form__group row align-items-center">
                <label class="col-2 col-form-label text-right">Mileage</label>
                <div class="col-10 input-group">
                  {{input value=model.valorization.mileage class="form-control"}}
                  <div class="input-group-append">
                    <span class="input-group-text">km</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group m-form__group row align-items-center">
                <label class="col-2 col-form-label text-right">Date</label>
                <div class="col-10">
                  {{date-picker
                    buttonClasses="btn btn-primary"
                    availableYearOffset=15
                    value=valorizationDate
                    action=(action (mut valorizationDate))
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">Vehicle options</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          {{#each model.featureCategories as |featureCategory|}}
            {{valorization-features-category category=featureCategory valorization=model.valorization vehicleVersion=model.valorization.version}}
          {{/each}}
        </div>
      </div>
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">Your garage</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">

        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">Valorization summary</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="section-header m--margin-bottom-15">
            <h4 class="m--marginless section-header__title m--padding-right-15">Vehicle and offer</h4>
            <div class="section-header__separator"><hr /></div>
          </div>
          <div class="valorization-card valorization-card m--clearfix">
            <div class="vehicle-infos">
              <h5 class="h6"> {{model.valorization.version.make.name}} - {{model.valorization.version.submodel.name}}</h5>
              <p class="m--margin-bottom-5">Gén. {{model.valorization.version.generation.name}} Pe. {{model.valorization.version.phase.name}} - {{moment-format model.valorization.releasedAt "DD/MM/YYYY"}}</p>
              <p class="m--marginless">{{model.valorization.version.name}}</p>
            </div>
            <div class="vehicle-make-logo">
              {{logo-img url=model.valorization.version.make.logoURL className='thumbnail make-logo'}}
            </div>
            {{valorization-offer-badge offer=model.valorization.offer}}
          </div>
          <div class="section-header m--margin-bottom-15 m--margin-top-30">
            <h4 class="m--marginless section-header__title m--padding-right-15">Vehicle usage</h4>
            <div class="section-header__separator"><hr /></div>
          </div>
          <div class="row">
            <dt class="col-3 text-right">Mileage: </dt>
            <dd class="col-3">
              {{#if model.valorization.mileage}}
                {{model.valorization.mileage}} {{t 'techData.units.km'}}
              {{/if}}
            </dd>
            <dt class="col-3 text-right">Date: </dt>
            <dd class="col-3"></dd>
          </div>
          <div class="section-header m--margin-bottom-15 m--margin-top-30">
            <h4 class="m--marginless section-header__title m--padding-right-15">Vehicle options</h4>
            <div class="section-header__separator"><hr /></div>
          </div>
          <ul>
            {{#each model.valorization.features as |feature|}}
              <li class="clearfix m--margin-bottom-5 ">
                <div class="selected-feature">
                  <span class="selected-feature__name">{{feature.name}}</span>
                  <span class="pull-right selected-feature__price">{{feature.priceIncludingVat}} €</span>
                </div>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
