<div class="m-subheader ">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h1 class="m-subheader__title m-subheader__title--separator">
        {{t 'index.quote.title'}}
      </h1>
    </div>
  </div>
</div>
<div class="m-content">
  <div class="m-wizard m-wizard--2 m-wizard--success">
    <!--begin: Message container -->
    <div class="m-portlet__padding-x">
      <!-- Here you can put a message or alert -->
    </div>
    <!--end: Message container -->
    <!--begin: Form Wizard Head -->
    <div class="m-wizard__head">
      <!--begin: Form Wizard Progress -->
      <div class="m-wizard__progress">
        <div class="progress">
          <div class="progress-bar" role="progressbar"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
      </div>
      <!--end: Form Wizard Progress -->
      <!--begin: Form Wizard Nav -->
      <div class="m-wizard__nav">
        <div class="m-wizard__steps">
          <div class="m-wizard__step m-wizard__step--done">
            {{#link-to 'lang.quote.valorize.vehicle-identification' class="m-wizard__step-number"}}
              <span>
                <i class="la la-automobile"></i>
              </span>
            {{/link-to}}
            <div class="m-wizard__step-info">
              <div class="m-wizard__step-title">
                {{t 'valorization.wizzard.identity.title'}}
              </div>
            </div>
          </div>
          <div class="m-wizard__step m-wizard__step--done">
           {{#link-to 'lang.quote.valorize.offer' class="m-wizard__step-number"}}
              <span>
                <i class="la la-bar-chart"></i>
              </span>
            {{/link-to}}
            <div class="m-wizard__step-info">
              <div class="m-wizard__step-title">
                {{t 'valorization.wizzard.offer.title'}}
              </div>
            </div>
          </div>
          <div class="m-wizard__step m-wizard__step--current">
            {{#link-to 'lang.quote.valorize.criteria' class="m-wizard__step-number"}}
              <span>
                <i class="fa flaticon-layers"></i>
              </span>
            {{/link-to}}
            <div class="m-wizard__step-info">
              <div class="m-wizard__step-title">
                {{t 'valorization.wizzard.criteria.title'}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end: Form Wizard Nav -->
    </div>
    <!--end: Form Wizard Head -->
  </div>
  <div class="row">
    <div class="col-12 col-xl-7">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">{{t "valorization.wizzard.criteria.usage.title"}}</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="row">
            <div class="col-12 col-md-6">
              {{#validated-form-group
                label=(t "valorization.wizzard.criteria.usage.mileage")
                isValid=(v-get model.valorization 'mileage' 'isValid')
                errorMessage=(v-get model.valorization 'mileage' 'message')
                forceShowErrorMessage=showErrorMessages
              }}
              {{input value=model.valorization.mileage class="form-control"}}
                <div class="input-group-append">
                  <span class="input-group-text">km</span>
                </div>
              {{/validated-form-group}}
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group m-form__group row align-items-center">
                <label class="col-4 col-form-label text-right">{{t "valorization.wizzard.criteria.usage.date"}}</label>
                <div class="col-8 input-group">
                  {{date-picker
                    buttonClasses="btn btn-primary"
                    availableYearOffset=15
                    value=(if model.valorization.needReturnedAt model.valorization.returnedAt model.valorization.calculatedFor)
                    minDate=(if model.valorization.needReturnedAt (moment))
                    maxDate=(if model.valorization.needCalculatedFor (moment))
                    placeholder=(t "application.datePlaceholder")
                    action=(if model.valorization.needReturnedAt (action (mut model.valorization.returnedAt)) (action (mut model.valorization.calculatedFor)))
                  }}
                </div>
                {{#if showErrorMessages}}
                  <div class="form-control-feedback offset-4 col-8">{{if model.valorization.needReturnedAt (v-get model.valorization 'returnedAt' 'message') (v-get model.valorization 'calculatedFor' 'message')}}</div>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">{{t "valorization.wizzard.criteria.options.title"}}</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          {{#each model.featureCategories as |featureCategory|}}
            {{valorization-features-category category=featureCategory valorization=model.valorization vehicleVersion=model.valorization.version}}
          {{/each}}
        </div>
      </div>
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">{{t "valorization.wizzard.criteria.garage.title"}}</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group m-form__group row align-items-center">
                <label class="col-4 col-form-label text-right">{{t "valorization.wizzard.criteria.garage.makes"}}</label>
                <div class="col-8">
                  {{#power-select-multiple
                    options=model.makes
                    selected=garageMakes
                    searchField="name"
                    enableTime=false
                    onchange=(action (mut garageMakes))
                    as |make|
                  }}
                    {{make.name}}
                  {{/power-select-multiple}}
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group m-form__group row align-items-center">
                <label class="col-4 col-form-label text-right">{{t "valorization.wizzard.criteria.garage.zipcode"}}</label>
                <div class="col-8">
                  {{input value=model.valorization.geolocalisation class="form-control"}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-xl-5">
      {{#sticky-element top=110}}
        <div class="m-portlet">
          <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">{{t "valorization.wizzard.criteria.summary.title"}}</h3>
              </div>
            </div>
          </div>
          <div class="m-portlet__body">
            <div class="section-header m--margin-bottom-15">
              <h4 class="m--marginless section-header__title m--padding-right-15">{{t "valorization.wizzard.criteria.summary.offer"}}</h4>
              <div class="section-header__separator"><hr /></div>
            </div>
            <div class="valorization-card valorization-card m--clearfix">
              <div class="vehicle-infos">
                <h5 class="h6"> {{model.valorization.version.make.name}} - {{model.valorization.version.submodel.name}}</h5>
                <p class="m--margin-bottom-5">Gen. {{model.valorization.version.generation.name}} Pe. {{model.valorization.version.phase.name}} - {{moment-format model.valorization.releasedAt 'DD/MM/YYYY'}}</p>
                <p class="m--marginless">{{model.valorization.version.name}}</p>
              </div>
              <div class="vehicle-make-logo">
                {{logo-img url=model.valorization.version.make.logoURL className='thumbnail make-logo'}}
              </div>
              {{valorization-offer-badge offer=model.valorization.offer}}
            </div>
            <div class="section-header m--margin-bottom-15 m--margin-top-30">
              <h4 class="m--marginless section-header__title m--padding-right-15">{{t "valorization.wizzard.criteria.usage.title"}}</h4>
              <div class="section-header__separator"><hr /></div>
            </div>
            <div class="row">
              <dt class="col-3 text-right">{{t "valorization.wizzard.criteria.usage.mileage"}}</dt>
              <dd class="col-3">
                {{#if model.valorization.mileage}}
                  {{model.valorization.mileage}} {{t 'techData.units.km'}}
                {{/if}}
              </dd>
              <dt class="col-3 text-right">{{t "valorization.wizzard.criteria.usage.date"}}</dt>
              {{#if model.valorization.needReturnedAt}}
                {{#if model.valorization.returnedAt}}
                  <dd class="col-3">{{moment-format model.valorization.returnedAt 'YYYY-MM-DD'}}</dd>
                {{/if}}
              {{else}}
                {{#if model.valorization.calculatedFor}}
                  <dd class="col-3">{{moment-format model.valorization.calculatedFor 'YYYY-MM-DD'}}</dd>
                {{/if}}
              {{/if}}
            </div>
            {{#if model.valorization.features.length}}
              <div class="section-header m--margin-bottom-15 m--margin-top-30">
                <h4 class="m--marginless section-header__title m--padding-right-15">{{t "valorization.wizzard.criteria.options.title"}}</h4>
                <div class="section-header__separator"><hr /></div>
              </div>
              <ul>
                {{#each model.valorization.features as |feature|}}
                  <li class="clearfix m--margin-bottom-5 ">
                    <div class="selected-feature">
                      <span class="selected-feature__name">{{feature.name}}</span>
                      <span class="pull-right selected-feature__price">{{feature.priceIncludingVat}} €</span>
                    </div>
                  </li>
                {{/each}}
              </ul>
            {{/if}}
            <div class="section-header m--margin-bottom-15 m--margin-top-30">
              <h4 class="m--marginless section-header__title m--padding-right-15">{{t "valorization.wizzard.criteria.garage.title"}}</h4>
              <div class="section-header__separator"><hr /></div>
            </div>
            <div class="row">
              <dt class="col-3 text-right">{{t "valorization.wizzard.criteria.garage.makes"}}</dt>
              <dd class="col-3">
                <ul>
                  {{#each garageMakes as |make|}}
                    <li>
                      {{make.name}}
                    </li>
                  {{/each}}
                </ul>
              </dd>
              <dt class="col-3 text-right">{{t "valorization.wizzard.criteria.garage.zipcode"}}</dt>
              <dd class="col-3">{{model.valorization.geolocalisation}}</dd>
            </div>
            <div class="btn-container text-right m--margin-top-30">
              <button class="btn btn-primary" disabled={{v-get model.valorization 'isInvalid'}} type="button" {{action 'validateForm'}}>{{t "valorization.wizzard.criteria.valorize"}}</button>
            </div>
          </div>
        </div>
      {{/sticky-element}}
    </div>
  </div>
</div>
