<div class="m-content">
  <div class="m-wizard m-wizard--2 m-wizard--success">
    <!--begin: Message container -->
    <div class="m-portlet__padding-x">
      <!-- Here you can put a message or alert -->
    </div>
    <!--end: Message container -->
    <!--begin: Form Wizard Head -->
    <div class="m-wizard__head">
      <!--begin: Form Wizard Progress -->
      <div class="m-wizard__progress">
        <div class="progress">
          <div class="progress-bar" role="progressbar"  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
        </div>
      </div>
      <!--end: Form Wizard Progress -->
      <!--begin: Form Wizard Nav -->
      <div class="m-wizard__nav">
        <div class="m-wizard__steps">
          <div class="m-wizard__step m-wizard__step--done">
            {{#link-to 'lang.quote.valorize.vehicle-identification' class="m-wizard__step-number"}}
              <span>
                <i class="la la-automobile"></i>
              </span>
            {{/link-to}}
            <div class="m-wizard__step-info">
              <div class="m-wizard__step-title">
                {{t 'valorization.wizzard.identity.title'}}
              </div>
            </div>
          </div>
          <div class="m-wizard__step m-wizard__step--current">
           {{#link-to 'lang.quote.valorize.offer' class="m-wizard__step-number"}}
              <span>
                <i class="la la-bar-chart"></i>
              </span>
            {{/link-to}}
            <div class="m-wizard__step-info">
              <div class="m-wizard__step-title">
                {{t 'valorization.wizzard.offer.title'}}
              </div>
            </div>
          </div>
          <div class="m-wizard__step">
            {{#link-to 'lang.quote.valorize.criteria' class="m-wizard__step-number"}}
              <span>
                <i class="fa  flaticon-layers"></i>
              </span>
            {{/link-to}}
            <div class="m-wizard__step-info">
              <div class="m-wizard__step-title">
                {{t 'valorization.wizzard.criteria.title'}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end: Form Wizard Nav -->
    </div>
    <!--end: Form Wizard Head -->
  </div>
  <div class="row">
    <div class="col-12 col-lg-7 col-xl-8 col order-2 order-lg-1">
      <ul class="offer-list list-unstyled row">
        <li class="col-12 col-md-6 col-lg-12 col-xl-4 m--margin-bottom-30">
          <div class="offer-list__item border-argus" {{action "selectOffer" "extended-market-value"}}>
            <h5>{{t "valorization.wizzard.offer.values.title"}}</h5>
            <p class="m--marginless">{{t "valorization.wizzard.offer.values.description"}}</p>
          </div>
        </li>
        <li class="col-12 col-md-6 col-lg-12 col-xl-4 m--margin-bottom-30">
          <div class="offer-list__item border-danger" {{action "selectOffer" "custom-market-value"}}>
            <h5>{{t "valorization.wizzard.offer.quote.title"}}</h5>
            <p class="m--marginless">{{t "valorization.wizzard.offer.quote.description"}}</p>
          </div>
        </li>
        <li class="col-12 col-md-6 col-lg-12 col-xl-4 m--margin-bottom-30">
          <div class="offer-list__item border-info" {{action "selectOffer" "prevar-value"}}>
            <h5>{{t "valorization.wizzard.offer.prevar.title"}}</h5>
            <p class="m--marginless">{{t "valorization.wizzard.offer.prevar.description"}}</p>
          </div>
        </li>
        <li class="col-12 col-md-6 col-lg-12 col-xl-4 m--margin-bottom-30">
          <div class="offer-list__item border-focus" {{action "selectOffer" "past-stock-market-value"}}>
            <h5>{{t "valorization.wizzard.offer.pastStock.title"}}</h5>
            <p class="m--marginless">{{t "valorization.wizzard.offer.pastStock.description"}}</p>
          </div>
        </li>
        <li class="col-12 col-md-6 col-lg-12 col-xl-4 m--margin-bottom-30">
          <div class="offer-list__item border-primary" {{action "selectOffer" "past-market-value"}}>
            <h5>{{t "valorization.wizzard.offer.past.title"}}</h5>
            <p class="m--marginless">{{t "valorization.wizzard.offer.past.description"}}</p>
          </div>
        </li>
        <li class="col-12 col-md-6 col-lg-12 col-xl-4 m--margin-bottom-30">
          <div class="offer-list__item border-success" {{action "selectOffer" "part-exchange-value"}}>
            <h5>{{t "valorization.wizzard.offer.recovery.title"}}</h5>
            <p class="m--marginless">{{t "valorization.wizzard.offer.recovery.description"}}</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-12 col-lg-5 col-xl-4 col order-1 order-lg-2">
      <div class="m-portlet">
        <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
              <h3 class="m-portlet__head-text">{{t "valorization.wizzard.offer.vehicle"}}</h3>
            </div>
          </div>
        </div>
        <div class="m-portlet__body">
          <div class="valorization-card m--clearfix">
            <div class="vehicle-infos">
              <h5 class="h5"> {{model.version.make.name}} - {{model.version.submodel.name}}</h5>
              <p class="m--margin-bottom-5">Gen. {{model.version.generation.name}} Pe. {{model.version.phase.name}} - {{moment-format model.releasedAt (t "application.dateFormat")}}</p>
              <p class="m--marginless">{{model.version.name}}</p>
              </div>
            <div class="vehicle-make-logo">
              {{logo-img url=model.version.make.logoURL className='thumbnail make-logo'}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
