
<div class="m-content">
  <div class="m-wizard m-wizard--2 m-wizard--success">
    <div class="m-portlet__padding-x">
    </div>
    <div class="m-wizard__head">
      <div class="m-wizard__progress">
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            aria-valuenow="0"
            aria-valuemin="0"
            aria-valuemax="100"
          >
          </div>
        </div>
      </div>
      <div class="m-wizard__nav">
        <div class="m-wizard__steps">
          <div class="m-wizard__step m-wizard__step--current">
            {{#link-to
              "lang.quote.valorize.vehicle-identification"
              class="m-wizard__step-number"
            }}
              <span>
                <i class="la la-automobile"></i>
              </span>
            {{/link-to}}
            <div class="m-wizard__step-info">
              <div class="m-wizard__step-title">
                {{t "valorization.wizzard.identity.title"}}
              </div>
            </div>
          </div>
          <div class="m-wizard__step">
            {{#link-to
              "lang.quote.valorize.offer"
              class="m-wizard__step-number"
            }}
              <span>
                <i class="la la-bar-chart"></i>
              </span>
            {{/link-to}}
            <div class="m-wizard__step-info">
              <div class="m-wizard__step-title">
                {{t "valorization.wizzard.offer.title"}}
              </div>
            </div>
          </div>
          <div class="m-wizard__step">
            {{#link-to "lang.quote.valorize.criteria" class="m-wizard__step-number"}}
              <span>
                <i class="la la-list"></i>
              </span>
            {{/link-to}}
            <div class="m-wizard__step-info">
              <div class="m-wizard__step-title">
                {{t "valorization.wizzard.criteria.title"}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-portlet">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{t "valorization.wizzard.identity.select.title"}}</h3>
        </div>
      </div>
    </div>
    <div class="m-portlet__body">
      {{valorization-select-vehicle valorizationRecord=model}}
    </div>
  </div>
  <div class="m-portlet">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{t "index.licensePlate.title"}}</h3>
        </div>
      </div>
    </div>
    <div class="m-portlet__body">
      {{valorization-search-by-plate-form valorizationRecord=model}}
    </div>
  </div>
  {{! template-lint-disable }}
  <div id="oid-form" class="m-portlet {{if highlightOidForm "m-portlet--brand m-portlet--head-solid-bg m-portlet--bordered"}}">
    <div class="m-portlet__head">
      <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
          <h3 class="m-portlet__head-text">{{t "valorization.wizzard.identity.argusId.title"}}</h3>
        </div>
      </div>
    </div>
    <div class="m-portlet__body">
      {{valorization-argus-id-form valorizationRecord=model argusOID=oid}}
    </div>
  </div>
</div>
