<h2>{{t 'index.showroom.model.submodel.generation.phase.version.title'}}</h2>
<section class="make-infos">
  <dl class="dl-horizontal">
    <dt>{{t 'models.base.name'}}</dt>
    <dd>{{model.fullNicename}}</dd>
    <dt>{{t 'models.base.id'}}</dt>
    <dd>{{model.id}}</dd>
    <dt>{{t 'models.base.startDate'}}</dt>
    <dd>{{format-date model.startDate noDateText=(t 'application.noDate')}}</dd>
    <dt>{{t 'models.base.endDate'}}</dt>
    <dd>{{format-date model.endDate noDateText=(t 'application.noDate')}}</dd>
    <dt>name</dt>
    <dd>{{model.name}}</dd>
    <dt>shortNicename</dt>
    <dd>{{model.shortNicename}}</dd>
    <dt>legacyId</dt>
    <dd>{{model.legacyId}}</dd>
    <dt>numberOfDoors</dt>
    <dd>{{model.numberOfDoors}}</dd>
    <dt>trimLevel</dt>
    <dd>{{model.trimLevel}}</dd>
    <dt>legacyId</dt>
    <dd>{{model.legacyId}}</dd>
    <dt>position</dt>
    <dd>{{model.position}}</dd>
    <dt>position</dt>
    <dd>{{model.position}}</dd>
    <dt>quoteable</dt>
    <dd>{{model.quoteable}}</dd>
    <dt>position</dt>
    <dd>{{model.position}}</dd>
    <dt>prevarable</dt>
    <dd>{{model.prevarable}}</dd>
    <dt>firstQuoteAt</dt>
    <dd>{{format-date model.firstQuoteAt noDateText=(t 'application.noDate')}}<</dd>
    <dt>positionQuote</dt>
    <dd>{{model.positionQuote}}</dd>
    <dt>quoteRatio</dt>
    <dd>{{model.quoteRatio}}</dd>
  </dl>
  <div class="actions">
    {{#link-to "lang.showroom.make.model.submodel.generation.phase" classNames="btn blue"}} {{t 'index.showroom.model.submodel.generation.phase.version.change'}} {{/link-to}}
  </div>
</section>
<h3>energy</h3>
<dl class="dl-horizontal">
  <dt>code</dt>
  <dd>{{model.energy.code}}</dd>
  <dt>name</dt>
  <dd>{{model.energy.name}}</dd>
  <dt>legacyId</dt>
  <dd>{{model.energy.legacyId}}</dd>
  <dt>masterId</dt>
  <dd>{{model.energy.masterId}}</dd>
  <dt>masterName</dt>
  <dd>{{model.energy.masterName}}</dd>
  <dt>masterCode</dt>
  <dd>{{model.energy.masterCode}}</dd>
</dl>
<h3>gearbox</h3>
<dl class="dl-horizontal">
  <dt>name</dt>
  <dd>{{model.gearbox.name}}</dd>
  <dt>code</dt>
  <dd>{{model.gearbox.code}}</dd>
  <dt>subtype</dt>
  <dd>{{model.gearbox.subtype}}</dd>
  <dt>legacyId</dt>
  <dd>{{model.gearbox.legacyId}}</dd>
  <dt>marketingName</dt>
  <dd>{{model.gearbox.marketingName}}</dd>
  <dt>numberOfGears</dt>
  <dd>{{model.gearbox.numberOfGears}}</dd>
  </dl>
{{outlet}}