<div class="row">
  <div class="col-6">
    {{#tech-data-container titleKey="licensePlate.registration.title" titleLeft=true}}
      {{tech-data-row labelKey="licensePlate.registration.number" value=model.registration}}
      {{tech-data-row labelKey="licensePlate.registration.firstDate" value=model.registrationCard.firstRegistrationDate}}
      {{tech-data-row labelKey="licensePlate.registration.date" value=model.registrationCard.registrationDate}}
      {{tech-data-row labelKey="licensePlate.registration.vinCode" value=model.registrationCard.vinCode}}
      {{tech-data-row labelKey="licensePlate.registration.fiscalPower" value=model.registrationCard.fiscalPower unitKey="techData.units.cv"}}
      {{tech-data-row labelKey="licensePlate.registration.carbonEmission" value=model.registrationCard.carbonEmission unitKey="techData.units.gpkm"}}
    {{/tech-data-container}}
  </div>
  <div class="col-6">
    <div class="section-header m--margin-bottom-15">
      <h4 class="m--marginless section-header__title m--padding-right-15">Candidates</h4>
      <div class="section-header__separator"><hr /></div>
    </div>
    <ul class="vertical-list">
      <li class="vertical-list__item">
        {{#link-to "lang.referential" class="list-item-content"}}
          <section class="infos">
            <h5 class="">Vehicule model</h5>
            <p class="small">submodel</p>
          </section>
        {{/link-to}}
      </li>
      <li class="vertical-list__item">
        {{#link-to "lang.referential" class="list-item-content"}}
          <section class="infos">
            <h5 class="">Vehicule model</h5>
            <p class="small">submodel</p>
          </section>
        {{/link-to}}
      </li>
      <li class="vertical-list__item">
        {{#link-to "lang.referential" class="list-item-content"}}
          <section class="infos">
            <h5 class="">Vehicule model</h5>
            <p class="small">submodel</p>
          </section>
        {{/link-to}}
      </li>
      <li class="vertical-list__item">
        {{#link-to "lang.referential" class="list-item-content"}}
          <section class="infos">
            <h5 class="">Vehicule model</h5>
            <p class="small">submodel</p>
          </section>
        {{/link-to}}
      </li>
    </ul>
  </div>
</div>
