<div class="row">
  <div class="col-12">
    <div class="m-portlet">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">Filters</h3>
          </div>
        </div>
      </div>
      <div class="m-portlet__body informations-portlet">
        <div class="row">
          {{#if trimLevelOptions.length}}
            <div class="col-3">
              <h6 class="m--margin-bottom-20 font-weight-bold">Finitions</h6>
              <div class="versions-filters m-checkbox-list">
                {{#each trimLevelOptions as | filter |}}
                  <label class="m-checkbox" {{action "toggleFilter" filter "trimLevels"}}>
                    {{input
                      id=filter.name
                      type="checkbox"
                      checked=filter.isActive
                    }}
                    <span></span>
                    {{filter.name}}
                  </label>
                {{/each}}
              </div>
            </div>
          {{/if}}
          <div class="col-3">
            <h6 class="m--margin-bottom-20 font-weight-bold">Engines</h6>
            <ul class="versions-filters vertical-list">
              {{#each energyOptions as | energyOption |}}
                <li class={{if energyOption.engineOptions.length "m--margin-bottom-30" ""}}>
                  <label {{action "toggleEnergy" energyOption}}
                    class="m-checkbox"
                  >
                    {{input
                      id=energyOption.inputId
                      type="checkbox"
                      checked=energyOption.isActive
                    }}
                    <span></span>
                    <p
                      class="m--marginless {{if energyOption.engineOptions.length "font-weight-normal" ""}}"
                    >
                      {{energyOption.name}}
                    </p>
                  </label>
                  {{#if energyOption.engineOptions.length}}
                    <div class="m-checkbox-list m--padding-left-30">
                      {{#each energyOption.engineOptions as | filter |}}
                        <label {{action "toggleFilter" filter "engines"}}
                          class="m-checkbox"
                        >
                          {{input
                            id=filter.inputId
                            type="checkbox"
                            checked=filter.isActive
                          }}
                          <span></span>
                          {{filter.name}}
                        </label>
                      {{/each}}
                    </div>
                  {{/if}}
                </li>
              {{/each}}
            </ul>
          </div>
          {{#if gearboxOptions.length}}
            <div class="col-3">
              <h6 class="m--margin-bottom-20 font-weight-bold">Gearboxes</h6>
              <div class="versions-filters m-checkbox-list">
                {{#each gearboxOptions as | filter |}}
                  <label {{action "toggleFilter" filter "gearboxes"}}
                    class="m-checkbox"
                  >
                    {{input
                      id=filter.inputId
                      type="checkbox"
                      checked=filter.isActive
                    }}
                    <span></span>
                    {{filter.name}}
                  </label>
                {{/each}}
              </div>
            </div>
          {{/if}}
          {{#if transmissionOptions.length}}
            <div class="col-3">
              <h6 class="m--margin-bottom-20 font-weight-bold">Transmissions</h6>
              <div class="versions-filters m-checkbox-list">
                {{#each transmissionOptions as | filter |}}
                  <label {{action "toggleFilter" filter "transmissions"}}
                    class="m-checkbox"
                  >
                    {{input
                      id=filter.inputId
                      type="checkbox"
                      checked=filter.isActive
                    }}
                    <span></span>
                    {{filter.name}}
                  </label>
                {{/each}}
              </div>
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    {{versions-table
      versionsArray=filteredVersion
      sortBy=sortBy
      sortOrder=sortOrder
    }}
  </div>
</div>
