{{#if isLogin}}
  {{outlet}}
{{else}}
  <div class="page-wrapper">
    {{page-header}}
      <div class="page-container">
        {{page-sidebar}}
        <div class="page-content-wrapper">
          <div class="page-content">
            {{outlet}}
          </div>
        </div>
      </div>
    {{page-footer}}
  </div>
{{/if}}