<div class="login-page m-body">
  <div class="logo m-content">
    <img
      src="/assets/logos/Jefe_logo_with_tagline_small.png"
      alt={{t "application.name"}}
    >
  </div>
  {{login-form controller=this}}
  <div class="copyright m-content m--font-light">
    {{t "application.copy"}} {{moment-format (now) "YYYY"}} {{t "application.argusGroup"}}
  </div>
</div>
